.cats-index {
  width: 100%;
  min-height: 500px;
  margin: 100px auto;
  padding: 20px;
  box-sizing: border-box;
}

.fetch-cats-button {
  display: block;
  margin: auto;
}

.cat-index-item {
  width: calc(20% - 10px);
  height: 155px;
  float: left;
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 6px;
  margin: 5px;
  background: rgba(17, 24, 31, .7);;
  position: relative;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.cat-index-item:hover .flipper {
  transform: rotateY(180deg);
}

.cat-index-item:hover {
  cursor: pointer;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
  margin: auto;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
  background: #6fbbdb;
  border: 1px solid black;
  border-radius: 6px;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}

.cat-image, .cat-fact {
  display: block;
  margin: auto;
  width: 140px;
  height: 140px;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 5px;
  position: relative;
  text-align: center;
  font-size: 14px;
}

.cat-image > img, .fact-wrapper {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: #6fbbdb;
}

.fact-wrapper {
  padding: 3px;
  box-sizing: border-box;
  overflow: scroll;
  word-wrap: break-word;
}

.fact-wrapper > h5 {
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 3px;
}

.delete-cat {
  color: #2c3d4f;
  position: absolute;
  top: 5px;
  left: 13px;
}

.delete-cat:hover {
  color: #fc3c46;
}
